<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Estudiante</servlet-name>
        <servlet-class>Controlador.Estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profesor</servlet-name>
        <servlet-class>Controlador.Profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Curso</servlet-name>
        <servlet-class>Controlador.Curso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Estudiante</servlet-name>
        <url-pattern>/estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profesor</servlet-name>
        <url-pattern>/profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Curso</servlet-name>
        <url-pattern>/curso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
